body{
    background-color: #e8e8e8;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

body h1{
    color : #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

h2{
    color : #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

p{
    color : #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

button {
    background-color: #000000;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    mask-size: 10px;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}
div {
    background-color: transparent; /* Transparent nav for a cohesive look */
    margin-bottom: 20px;}
.div-link {
    margin: 0 10px;
    padding: 10px 15px;
    background-color: #007bff; /* For contrast */
    color: white; /* White text on buttons */
    border-radius: 4px;
    transition: background-color 0.3s ease;
    z-index: 1;
    position: relative
}
.div-link:hover {
    background-color: #0056b3;
    margin-top: 20px;
}

