body {
    background-image: url("CarImages.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

body h1 {
    color: #ff00f7;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #ff00f7;
    background-color: #000000;
    padding: 10px;
}

h2 {
    color: #ff00f7;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #ff00f7;
    background-color: #000000;
    padding: 10px;
}

p {
    color: #ff00f7;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #ff00f7;
    background-color: #000000;
    padding: 10px;
}

/*Caleb*/
button {
    background-color: #000000;
    border: none;
    color: #d8d4d4;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    mask-size: 10px;
}

/*Caleb*/
.button-container {
    color: #ff00f7;
    display: flex;
    justify-content: center;
    gap: 10px;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #415959;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 2px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin: 5px 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;

}

a.button:hover {
    background-color: #769d9d;
}

div .wrong_password{
    display: flex;
    justify-content: center;
    gap: 10px;
}

img{
    display: block;
    margin-left: left;
    margin-right: left;
    width: 20%;
    height: 20%;
}